.edit-btn,
.submit-btn {
    background-color: #3DBB75;
    color: var(--dark-blue);

    a {
        color: var(--dark-blue);
    }
}

.delete-btn {
    background-color: #D14141;
}

button {
    width: 18dvw;
    min-width: 130px;
}

button:hover {
    color: var(--dark-blue);
    font-weight: 600;
}