.edit-btn,
.submit-btn {
    background-color: #3DBB75;
    color: var(--dark-blue);

    a {
        color: var(--dark-blue);
    }
}

.cart-btn {
    background-color: var(--orange);
}

.delete-btn {
    background-color: #D14141;
}

button {
    width: 100%;
    min-width: 130px;
    font-family: var(--heading-text);
}

button:hover {
    color: var(--dark-blue);
    font-weight: 600;
}