.checkout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-banner {
        background-color: var(--light-blue);
        padding: 0.2rem;
        width: 100%;
    }

    .checkout-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .embedded-checkout {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .payment-container {
                margin: 1rem;
                width: 100%;
            }
    
            .button-div {
                margin-top: 1rem;
            }
        }
    }
    
    .form-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
        background-color: var(--light-blue);
        margin-bottom: 1rem;

        input {
            font-size: 1.3rem;
            background-color: var(--beige);
            color: var(--brown);
            border: none;
            border-radius: 5px;
            padding: 0.5rem 0.3rem;
        }

        input::placeholder {
            font-style: italic;
            color: rgba(47, 79, 79, 0.7);
        }

        label {
            font-family: var(--standard-text);
            color: var(--dark-blue);
            font-weight: 600;
        }
    }

    .button-div {
        max-width: 300px;
        
        button {
            margin-bottom: 1rem;
        }
    }

    a {
        color: var(--dark-blue);
    }

    a:hover {
        color: var(--beige);
    }
}

.order-confirmation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .order-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;

        .order-error {
            background-color: red;
        }
    
        .order-confirm {
            color: var(--beige);
        }
    
        .order-summary {
            background-color: var(--light-blue);
            margin: 3rem;
            padding: 1rem;
        }

    }

}