:root {
    --dark-brown: #21130A;
    --medium-brown: #40312A;
    --dark-orange: #AF6825;
    --light-orange: #F2A544;
    --medium-grey: #BDB4B7;
    --light-grey: #FEFEFE;
}

body {
    background-color: var(--dark-brown);
    color: var(--light-grey);
}

header {
    background-color: var(--dark-orange);
}

a {
    color: var(--light-grey);
}

a:hover {
    color: var(--dark-brown);
}

.active {
    text-decoration: underline;
}

h2,
h3,
p {
    color: var(--medium-brown);
}