:root {
    --dark-blue: #0F2C33;
    --medium-blue: #21616A;
    --light-blue: #2E9CA0;
    --orange: #EFA00F;
    --brown: #533946;
    --beige: #E6D1B4;
    --standard-text: 'Libre Baskerville', Georgia, serif;
    --heading-text: 'Roboto', Arial, sans-serif;

    box-sizing: border-box;
}

body {
    background-color: var(--dark-blue);
    color: var(--beige);
    font-family: var(--standard-text);
}

header {
    background-color: var(--orange);
}

a {
    color: var(--brown);
    font-weight: 600;
}

a:hover {
    color: var(--medium-blue);
}

.active {
    text-decoration: underline;
}

h2,
h3,
h4,
p {
    color: var(--dark-blue);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-text);
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

