header {
    width: 100%;

    .nav-div {

        display: flex;
        height: 5rem;
        align-items: center;
        justify-content: center;

        .nav-bar {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 2rem;
        }

        .cart-icon {
            position: absolute;
            right: 2.5rem;
            font-size: 2rem;
            top: 1.25rem;
        }
    }
}

main {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--medium-blue);
    min-height: 80dvh;
}