
.shop-wrapper {
    
    .product-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        margin-top: 0;
        padding: 2rem 1rem;
        gap: 1rem;
        
        .link-div {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            background-color: var(--orange);
            padding: 0.5rem;
        }
        .product-detail-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            width: 100%;
            background-color: var(--light-blue);


            .product-image {
                background-color: var(--beige);
                border: 10px solid var(--dark-blue);
                width: 100%;
            }

            .button-div {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;

                button {
                    margin: 0;
                }

                .amount-div {
                    display: flex;
                    flex-direction: row;
                    width: 15%;
                    justify-content: space-between;
                    align-items: center;
                    background-color: var(--beige);
                    border: 4px solid var(--orange);
                    color: var(--brown);
                    font-size: 1.1rem;
                    padding: 0.1rem;
                }
            }


        }

        .product-div {
            background-color: var(--light-blue);
            border-radius: 0;
            max-width: 250px;
            min-width: 200px;
            height: 400px;
            padding: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .product-text {
                margin-top: 1rem;
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                h4 {
                    height: 60px;
                } 
                p {
                    margin: 0;
                }
            }
    
            img {
                background-color: var(--beige);
                width: 250px;
                height: 250px;
            }

            .button-div {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;

                input {
                    width: 20%;
                    font-size: 2rem;
                    background-color: var(--beige);
                    border: 1px solid var(--brown);
                }

                button {
                    margin: 0;
                }
            }
        }
    }

    @media screen and (min-width: 480px) {

        .product-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
        }


    }

    @media screen and (min-width: 700px) {

        .product-wrapper {
            flex-direction: row;
            flex-wrap: wrap;

            .product-detail-div {
                display: flex;
                flex-direction: column;

                .product-info {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 4rem;
                    gap: 2rem;
                }
            }
        }


    }

}